<div class="container">
    <table class= "table">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th> Action</th>
        </tr>
        <tr *ngFor="let employee of employees ">
            <!-- interface details calling -->
            <td>{{employee.id}}</td> 
            <td>{{employee.name}}</td>
            <td>{{employee.email}}</td>
            <td><button type="button" class="btn btn-danger">DELETE</button></td>
        </tr>
    </table>
</div>
